{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Опрос пройден!</h4>
        <p>Спасибо за прохождение опроса.</p>
        <hr>
        <p class="mb-0" style="font-size: 12px;">Если вы ошиблись или указали неверные данные, вы можете обратиться к нам по адресу: <a href="mailto:mail@fluid-line.ru">mail@fluid-line.ru</a>.</p>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", frameReady);
        let frameHtml = document.getElementsByTagName('html')[0];
        let height = 'scrollHeight=' + frameHtml.scrollHeight + '&offsetHeight=' + frameHtml.offsetHeight + '&clientHeight=' + frameHtml.clientHeight;

        function frameReady() {
            window.parent.postMessage({
                'func': 'setFrameHeight',
                'message': height
            }, "*");
        }
    </script>
{% endblock %}
