{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Опрос не найден!</h4>
        <p>Произошла ошибка в загрузке формы опроса.</p>
        <hr>
        <p class="mb-0" style="font-size: 12px;">Сожалеем, что вы столкнулись с данной ошибкой. </p>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", frameReady);
        let frameHtml = document.getElementsByTagName('html')[0];
        let height = 'scrollHeight=' + frameHtml.scrollHeight + '&offsetHeight=' + frameHtml.offsetHeight + '&clientHeight=' + frameHtml.clientHeight;
        console.log(height);

        function frameReady() {
            window.parent.postMessage({
                'func': 'setFrameHeight',
                'message': height
            }, "*");
        }
    </script>
{% endblock %}
